In [1]:
# Importando biblioteca 
import pandas as pd

In [2]:
# Informar o arquivo usado
arquivo = 'heart.csv'

# Cria o DataFrame
dados = pd.read_csv(arquivo)

# Mostra o conjunto de dados
dados

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
# Para renomear as colunas do DataFrame, é necessário armazenar esse "novo" DataFrame em uma variável
# Além disso, dentro da função deve-se passar para o parêmetro "columns" um dicionário, onde as chaves são os
# nomes das colunas do DataFrame e os valores os novos nomes
trocar_nomes = {
    'Age': 'Idade', 
    'Sex': 'Sexo', 
    'ChestPainType': 'Tipo de dor', 
    'RestingBP': 'Pressão',
    'Cholesterol': 'Colesterol', 
    'FastingBS': 'Glicemia', 
    'RestingECG': 'Eletro', 
    'MaxHR': 'BPM',
    'ExerciseAngina': 'Dor por exec.', 
    'ST_Slope': 'Incl. ST', 
    'HeartDisease': 'DCV'
}

# Realizar a troca dos nomes das colunas
dados = dados.rename(columns=trocar_nomes)

# Mostrar o conjunto de dados
dados

,Idade,Sexo,Tipo de dor,Pressão,Colesterol,Glicemia,Eletro,BPM,Dor por exec.,Oldpeak,Incl. ST,DCV
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Idade          918 non-null    int64
 1   Sexo           918 non-null    object
 2   Tipo de dor    918 non-null    object
 3   Pressão        918 non-null    int64
 4   Colesterol     918 non-null    int64
 5   Glicemia       918 non-null    int64
 6   Eletro         918 non-null    object
 7   BPM            918 non-null    int64
 8   Dor por exec.  918 non-null    object
 9   Oldpeak        918 non-null    float64
 10  Incl. ST       918 non-null    object
 11  DCV            918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [5]:
dados.describe().T

            count        mean         std   min     25%    50%    75%    max
Idade       918.0   53.510893    9.432617  28.0   47.00   54.0   60.0   77.0
Pressão     918.0  132.396514   18.514154   0.0  120.00  130.0  140.0  200.0
Colesterol  918.0  198.799564  109.384145   0.0  173.25  223.0  267.0  603.0
Glicemia    918.0    0.233115    0.423046   0.0    0.00    0.0    0.0    1.0
BPM         918.0  136.809368   25.460334  60.0  120.00  138.0  156.0  202.0
Oldpeak     918.0    0.887364    1.066570  -2.6    0.00    0.6    1.5    6.2
DCV         918.0    0.553377    0.497414   0.0    0.00    1.0    1.0    1.0

In [6]:
# Excluir as linhas que possuem o valor de colesterol igual a 0
dados = dados[dados['Colesterol'] != 0]

# Excluir as linhas que possuem o valor de pressão arterial igual a 0
dados = dados[dados['Pressão'] != 0]

In [7]:
dados.describe().T

            count        mean        std   min     25%    50%    75%    max
Idade       746.0   52.882038   9.505888  28.0   46.00   54.0   59.0   77.0
Pressão     746.0  133.022788  17.282750  92.0  120.00  130.0  140.0  200.0
Colesterol  746.0  244.635389  59.153524  85.0  207.25  237.0  275.0  603.0
Glicemia    746.0    0.167560   0.373726   0.0    0.00    0.0    0.0    1.0
BPM         746.0  140.226542  24.524107  69.0  122.00  140.0  160.0  202.0
Oldpeak     746.0    0.901609   1.072861  -0.1    0.00    0.5    1.5    6.2
DCV         746.0    0.477212   0.499816   0.0    0.00    0.0    1.0    1.0

In [8]:
# Criar uma lista com as colunas que serão avaliadas
colunas = ['Sexo', 'Tipo de dor', 'Glicemia', 'Eletro', 'Dor por exec.', 'Incl. ST', 'DCV']

# Mostrar os valores únicos de cada coluna
for coluna in colunas:
    print(f'{coluna}: {dados[coluna].unique()}')

Sexo: ['M' 'F']
Tipo de dor: ['ATA' 'NAP' 'ASY' 'TA']
Glicemia: [0 1]
Eletro: ['Normal' 'ST' 'LVH']
Dor por exec.: ['N' 'Y']
Incl. ST: ['Up' 'Flat' 'Down']
DCV: [0 1]