In [2]:
# Importando biblioteca 
import pandas as pd

In [3]:
# Informar o arquivo usado
arquivo = 'heart.csv'

# Cria o DataFrame
dados = pd.read_csv(arquivo)

# Mostra o conjunto de dados
dados

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
# Para renomear as colunas do DataFrame, é necessário armazenar esse "novo" DataFrame em uma variável
# Além disso, dentro da função deve-se passar para o parêmetro "columns" um dicionário, onde as chaves são os
# nomes das colunas do DataFrame e os valores os novos nomes
trocar_nomes = {
    'Age': 'Idade',
    'Sex': 'Sexo',
    'ChestPainType': 'Tipo de dor',
    'RestingBP': 'Pressão',
    'Cholesterol': 'Colesterol',
    'FastingBS': 'Glicemia',
    'RestingECG': 'Eletro',
    'MaxHR': 'BPM',
    'ExerciseAngina': 'Dor por exec.',
    'ST_Slope': 'Incl. ST',
    'HeartDisease': 'DCV'
}

# Realizar a troca dos nomes das colunas
dados = dados.rename(columns=trocar_nomes)

# Mostrar o conjunto de dados
dados

,Idade,Sexo,Tipo de dor,Pressão,Colesterol,Glicemia,Eletro,BPM,Dor por exec.,Oldpeak,Incl. ST,DCV
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Idade          918 non-null    int64
 1   Sexo           918 non-null    object
 2   Tipo de dor    918 non-null    object
 3   Pressão        918 non-null    int64
 4   Colesterol     918 non-null    int64
 5   Glicemia       918 non-null    int64
 6   Eletro         918 non-null    object
 7   BPM            918 non-null    int64
 8   Dor por exec.  918 non-null    object
 9   Oldpeak        918 non-null    float64
 10  Incl. ST       918 non-null    object
 11  DCV            918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB